body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("/images/Paradise_Lost_12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

